*.psd filter=lfs diff=lfs merge=lfs -text
*.RData filter=lfs diff=lfs merge=lfs -text
*.RDS filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
*.sbf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
